<div class="row-fluid marketing">
	<div class="span12">
  		<span><strong>First Name</strong> <em>Han</em></span><br />
		<span><strong>Last Name</strong> <em>Lim</em></span><br />
		<span><strong>Email</strong> <em id="email"></em></span><br />
		<span><strong>Mobile</strong> <em id="mobile"></em></span><br /> 
		<span><strong>GitHub</strong> <em id="github"></em></span><br /> 
		<span><strong>Blog</strong> <em id="blog"></em></span><br /> 
	</div>
</div>
