<div class="row-fluid marketing">
	<div class="span12">
    	<h4>Wireless Data Services, A Xerox Company</h4>
    	<p>
		    <span><strong>Designation</strong> Senior Software Engineer</span><br />
		    <span><strong>Period</strong> June 2011 - Current</span><br />
	    	<span><strong>Scope</strong>&nbsp;
		    Member of an agile team of software developers responsible for core strategic software in the business. The engineering capabilities required from our team is multi-faceted due to the wide range of technologies used as well as the fast pace of deliverables in an agile environment</span><br />
	    	<span><strong>Achievements</strong>&nbsp;
		    As a core member of the Development team, I have been integral to the development and delivery of various projects by applying knowledge of technologies like the following: 
		    <ul>
                      <li>One of the lead developers who are charged with the delivery of a cutting edge social monitoring application that has its roots from PARC, A Xerox Company</li>
          <li>Laying down the architectural vision of the new version of Social Monitoring product</li>
		      <li>Java-based projects using technologies like Spring, Maven, Ant, Play! Framework</li>
		      <li>Ruby on Rails projects with exposure to accompanying technologies e.g. RVM, Gems</li>
		      <li>Adhoc projects that requires Linux scripting skills in bash</li>
		      <li>Continuous Integration process using Jenkins</li>
		    </ul>
            </span>
 		</p>

        <h4>STMicroelectronics Pte Ltd</h4>
        <p>
	    	<span><strong>Designation</strong> Senior System Analyst</span><br />
	    	<span><strong>Period</strong> July 2007 - May 2011 (4 years)</span><br />
            <span><strong>Scope</strong>&nbsp;
		    Team leader for a group responsible for developing and maintainance of internal software systems necessary for the operations within the semiconductor business. I'm responsible for some portion of human resource management but mainly on technical leadership of the projects in the team</span><br />
	    	<span><strong>Achievements</strong>&nbsp;
		    As a team leader of a small software team, I have to ensure that the applications that are under our charge are operational at all times. We also need to ensure that the change/incident request processes are adhered to via Remedy. I was also placed in charge of various projects during my time there including 
		    <ul>
		      <li>A Java Struts-based Training and certifications application deployed on Tomcat</li>
		      <li>A web-based UI that integrates with production plant systems via web-services providing visualization and operations of those systems. The web application is written in Struts and deployed in JBoss. However, the integration portion requires knowledge of C/C++ SOAP development</li>
		      <li>Adhoc projects that requires Linux scripting skills in bash</li>
		    </ul>
            <span>
	  	</p>

	  	<h4>CrimsonLogic Pte Ltd</h4>
        <p>
	    	<span><strong>Designation</strong> System Analyst</span><br />
	    	<span><strong>Period</strong> June 2004 - July 2007 (3 years)</span><br />
            <span><strong>Scope</strong>&nbsp;
		    System analyst responsible for maintaining and implementing various components of Singapore Government's eTrade application, TradeNet 4.0. I was responsible for customer requirements gathering, documentation and development for the components in the TradeNet application</span><br />
	    	<span><strong>Achievements</strong>&nbsp;
		    I was placed in charge of key modules in TradeNet that involves knowledge of Trade and Logistics domain knowledge and J2EE and its related technologies.
		    <ul>
		      <li>Learnt to develop and deploy enterprise scale Java web applications deployed in Weblogic/li>
		      <li>Responsible for key modules within TradeNet's backend processing application</li>
		      <li>I was in charge of ACCESS, another Java web application that processes manifests and issues permits to air logistics companies like DHL, Fedex, TNT and UPS.</li>
		    </ul>
            <span>
	  	</p>
	</div>
</div>
