<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curriculum Vitae of Lim Han</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
    body {
       margin-left: 20px;
    } 
    
    p {
       margin-left: 40px;
    }

    ul {
       margin-left: 40px;
    }
    </style>
  </head>
  <body>
      <h2>Curriculum Vitae of Lim Han</h2>
      <br/>
      <h3>Biodata</h3>
      <div class="row-fluid marketing">
        <div class="span12">
	  <span><strong>First Name</strong> <em>Han</em></span><br />
	  <span><strong>Last Name</strong> <em>Lim</em></span><br />
	  <span><strong>Email</strong> <em id="email"></em></span><br />
	  <span><strong>Mobile</strong> <em id="mobile"></em></span><br /> 
	  <span><strong>GitHub</strong> <em id="github"></em></span><br /> 
	</div>
      </div>
      
      <hr />

      <h3>Experience</h3>
      <div class="row-fluid marketing">
        <div class="span12">
          <h4>Wireless Data Services, A Xerox Company</h4>
          <p>
	    <span><strong>Designation</strong> Senior Software Engineer</span><br />
	    <span><strong>Period</strong> June 2011 - Current</span><br />
	    <span><strong>Scope</strong>&nbsp;
		    Member of a agile team of software developers responsible for core strategic software for the business. The engineering capabilities required from the team is multi-faceted due to the wide range of technologies used as well as the fast-paced deliverables in an agile environment</span><br />
	    <span><strong>Achievements</strong>&nbsp;
		    As a core member of the Development team, I have been integral to the development and delivery of various projects by applying knowledge of technologies like the following: 
		    <ul>
		      <li>Java-based projects using technologies like Spring, Maven, Ant, Play! Framework</li>
		      <li>Ruby on Rails projects with exposure to accompanying technologies e.g. RVM</li>
		      <li>Adhoc projects that requires Linux scripting skills in bash</li>
		      <li>Continuous Integration process using Jenkins</li>
		    </ul>
            <span>
	  </p>

          <h4>STMicroelectronics Pte Ltd</h4>
          <p>
	    <span><strong>Designation</strong> Senior System Analyst</span><br />
	    <span><strong>Period</strong> July 2007 - May 2011 (4 years)</span><br />
            <span><strong>Scope</strong>&nbsp;
		    Team leader for a group responsible for developing and maintainance of internal software systems necessary for the operations within the semiconductor business. I'm responsible for some portion of human resource management but mainly on technical leadership of the projects in the team</span><br />
	    <span><strong>Achievements</strong>&nbsp;
		    As a team leader of a small software team, I have to ensure that the applications that are under our charge is operational at all times. We also need to ensure that the change/incident request processes are adhered to via Remedy. I was in placed in charge of various projects during my time there including 
		    <ul>
		      <li>A Java Struts-based Training and certifications application deployed on Tomcat</li>
		      <li>A web-based UI that integrates with production plant systems via web-services providing visualization and operations of those systems. The web application is written in Struts and deployed in JBoss. However, the integration portion requires knowledge of C/C++ SOAP development</li>
		      <li>Adhoc projects that requires Linux scripting skills in bash</li>
		    </ul>
            <span>
	  </p>

	  <h4>CrimsonLogic Pte Ltd</h4>
          <p>
	    <span><strong>Designation</strong> System Analyst</span><br />
	    <span><strong>Period</strong> June 2004 - July 2007 (3 years)</span><br />
            <span><strong>Scope</strong>&nbsp;
		    System analyst responsible for maintaining and implementing various components of Singapore Government's eTrade application, TradeNet 4.0. I was responsible for customer requirements gathering, documentation and development for the components in the TradeNet application</span><br />
	    <span><strong>Achievements</strong>&nbsp;
		    I was placed in charge of key modules in TradeNet that involves knowledge of Trade and Logistics domain knowledge and J2EE and its related technologies.
		    <ul>
		      <li>Learnt to develop and deploy enterprise scale Java web applications deployed in Weblogic</li>
		      <li>I was in charge of ACCESS, another Java web application that processes manifests and issues permits to air logistics companies like DHL, Fedex, TNT and UPS.</li>
		    </ul>
            <span>
	  </p>
        </div>
      </div>

      <hr />

      <h3>Skills</h3>
      <div class="row-fluid marketing">
        <div class="span12">
          <h4>Professional Qualifications</h4>
          <p>
            <ul>
               <li><a href="http://www.lpi.org/linux-certifications/programs/lpic-1" target="_blank">Linux Professional Institute LPIC-1</a></li>
               <li><a href="http://www.pmi.org/Certification/Project-Management-Professional-PMP.aspx">Project Management Professional (PMP)</a></li>
               <li>Oracle Certified Java Programmer</li>
            </ul>
	  </p>
          
          <h4>Professional Experiences</h4>
          <p>
            <h5>Web development (Java)</h5>
            <ul>
               <li><a href="http://www.playframework.com/" target="_blank">Play! Framework</a></li>
               <li>Spring Framework</li>
               <li>Maven, Ant</li>
               <li>Struts, Velocity, JSP</li>
            </ul>
            <h5>Testing & Best Practices (Java)</h5>
            <ul>
               <li>JUnit</li>
               <li>Mockito</li>
               <li>DBUnit</li>
               <li>Jenkins Continuous Integration</li>
            </ul>
            <h5>Web development frameworks (Others)</h5>
            <ul>
               <li>Ruby on Rails (2 years)</li>
               <li>Node.js (Beginner)</li>
            </ul>
            <h5>Linux Skills</h5>
            <ul>
               <li>Shell scripting</li>
               <li>Shell commands</li>
            </ul>
            <h5>Database Skills</h5>
            <ul>
               <li>Oracle PL/SQL</li>
               <li>Mysql</li>
               <li>MongoDB (Beginner)</li>
            </ul>
          </p>
          <p>
            <h5>Interests</h5>
            <ul>
               <li>Hadoop</li>
               <li>Predictive Analytics</li>
               <li>Webscale application architecting</li>
            </ul>
          </p>
          <p>
            <h5>Spoken/Written Languages</h5>
            <ul>
               <li>English</li>
               <li>Mandarin</li>
               <li>A smattering of Cantonese</li>
               <li>A dose of Hokkien</li>
            </ul>
          </p>

          <hr />

          <h3>Academic Background</h3>
          <p>
            <h5>Nanyang Technological University (Singapore)</h5>
	    <em>Bachelor of Computer Engineering (Honours)</em>
          </p>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
          function () {
	    var email = 'lim' + '.' + 'han' + '@' + 'gmail' + '.' + 'com';
            var mobile = '+' + (100000000000 - 93406173244);
            $('#email').text(email);
	    $('#mobile').text(mobile);
            $('#github').text("https://github.com/singularity-sg/");
	  }
	);
    </script>

  </body>
</html>
