<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>Curriculum Vitae of Lim Han</title>
    	<link href="css/bootstrap.css" rel="stylesheet">
    	<link href="css/bootstrap-responsive.css" rel="stylesheet">
    	<style type="text/css">
	    body {
	       margin-left: 20px;
	    } 
	    
	    p {
	       margin-left: 40px;
	    }
	
	    ul {
	       margin-left: 40px;
	    }
    	</style>
  	</head>
	<body>
    	<h2>Curriculum Vitae of Lim Han</h2>
      	<br/>
      	<h3>Biodata</h3>
      	
      	<%include biodata %>
      
      	<hr />

      	<h3>Experience</h3>
      
      	<%include experience-body %>
      	
      	<hr />

      	<h3>Skills</h3>
      	
      	<%include skills-body %>
      
	    <script src="js/jquery-1.9.1.min.js"></script>
	    <script type="text/javascript">
	        $(document).ready(
	          function () {
		    var email = 'lim' + '.' + 'han' + '@' + 'gmail' + '.' + 'com';
	            var mobile = '+' + (100000000000 - 93406173244);
	            $('#email').text(email);
		    $('#mobile').text(mobile);
	            $('#github').text("https://github.com/singularity-sg/");
	            $('#blog').text("http://singularity-sg.github.io");
		  }
		);
		</script>
	</body>
</html>
