<div class="row-fluid marketing">
    <div class="span12">
        <h4>Professional Qualifications</h4>
        <p>
	        <ul>
	            <li>
	                <a href=
	                "http://www.lpi.org/linux-certifications/programs/lpic-1"
	                target="_blank">Linux Professional Institute LPIC-1</a>
	            </li>
	
	            <li>
	                <a href=
	                "http://www.pmi.org/Certification/Project-Management-Professional-PMP.aspx">
	                Project Management Professional (PMP)</a>
	            </li>
	
	            <li>Oracle Certified Java Programmer</li>
	        </ul>
        </p>

        <h4>Professional Experiences</h4>
	    <p>
		<h5>Programming Languages [ Strength from Weak(1) to Strong(10) ]</h5>
	        <ul>
	            <li>Java (7)</li>
	            <li>Javascript (4)</li>
	            <li>Bash Scripting (5)</li>
	            <li>Python (4)</li>
	            <li>Ruby (4)</li>
	            <li>Golang (5)</li>
	        </ul>
		
		<h5>Web development (Java)</h5>
	        <ul>
	            <li>
	                <a href="http://www.playframework.com/" target=
	                "_blank">Play! Framework</a>
	            </li>
	            <li>Spring Framework</li>
	            <li>Maven, Ant, Gradle</li>
	        </ul>

        <h5>DevOps Experience</h5>
            <ul>
		    	<li>Puppet</li>
		    	<li>Ansible</li>
                <li>Amazon Web Services</li>
				<li>Kubernetes</li>
			</ul>
	
	        <h5>Testing &amp; Best Practices (Java)</h5>
	        <ul>
	            <li>JUnit</li>
	            <li>AssertJ</li>
	            <li>Selenium</li>
	            <li>Mockito</li>
	            <li>Jenkins Continuous Integration</li>
	            <li>Atlassian Suite (JIRA, Bamboo, Stash, Confluence)</li>
	        </ul>
	
	        <h5>Web development frameworks (Others)</h5>
	        <ul>
	            <li>Ruby on Rails (2 years)</li>
	            <li>Node.js (Beginner)</li>
              	<li>AngularJS</li>
	        </ul>
	
	        <h5>Linux Skills</h5>
	        <ul>
	            <li>Bash shell scripting</li>
	            <li>Shell commands</li>
	            <li>Vim</li>
	        </ul>
	
	        <h5>Distributed Systems</h5>
	        <ul>
	            <li>Apache Cassandra</li>
	            <li>Apache Kafka</li>
	        </ul>

	        <h5>Software configuration management</h5>
	        <ul>
	            <li>Git</li>
	        </ul>
	
	        <h5>Interests (Things I would like to learn)</h5>
	        <ul>
	            <li>ElasticSearch</li>
	            <li>Apache Spark</li>
	            <li>Deep Learning</li>
	        </ul>
	
	        <h5>Spoken/Written Languages</h5>
	        <ul>
	            <li>English</li>
	            <li>Mandarin</li>
	            <li>A smattering of Cantonese</li>
	            <li>A dose of Hokkien</li>
	        </ul>
	    </p>

        <h4>Software Projects</h4>
        <p>
           <ul>
              <li>Github Profile (<a href="https://github.com/singularity-sg" target="_blank">https://github.com/singularity-sg</a>)</li>
              <li>Ported liblinear, a scalable machine learning library to Golang without C-bindings. (Pure Golang)</li>
           </ul>
        </p>

        <h4>Academic Background</h4>
	<p>
           <span><strong>Nanyang Technological University (Singapore)</strong><br>
           Bachelor of Computer Engineering (Honours)</span><br>
	</p>

        <h4>Public Speaking</h4>
        <p>
           Co-presented on 2 topics for various meetup groups (Java User Group). See <a href="https://engineers.sg/episodes/search?search=han+lim" target="_blank">here</a>
        </p>

	<h4>Aptitude Tests</h4>
	
	<h5>GMAT</h5>
        <p>
	Verbal - 36 (80%)<br/>
	Quantitative - 42 (67%)<br/>
        Analytical Writing - 5.5/6 (87%)<br/>
	Total - 640 (80%)
	</p>

	<h5>GRE</h5>
	<p>
	Verbal - 162 (90%)<br/>
	Quantitive - 160 (84%)<br/>
	Analytical Writing - 4.0 (48%)<br/>
        Total - 322
	</p>
        
    </div>
</div>
