<%include header %>
      
      <div class="header muted"><h3><%= headerTitle %></h3></div>

      <hr />
      
      <div class="row-fluid marketing">
        <div class="span12">
          
          <h4>Professional Qualifications</h4>
          <p>
            <ul>
               <li><a href="http://www.lpi.org/linux-certifications/programs/lpic-1" target="_blank">Linux Professional Institute LPIC-1</a></li>
               <li><a href="http://www.pmi.org/Certification/Project-Management-Professional-PMP.aspx">Project Management Professional (PMP)</a></li>
               <li>Oracle Certified Java Programmer</li>
            </ul>
	  </p>
          
          <h4>Professional Experiences</h4>
          <p>
            <h5>Web development (Java)</h5>
            <ul>
               <li><a href="http://www.playframework.com/" target="_blank">Play! Framework</a></li>
               <li>Spring Framework</li>
               <li>Maven, Ant</li>
               <li>Struts, Velocity, JSP</li>
            </ul>
            <h5>Testing & Best Practices (Java)</h5>
            <ul>
               <li>JUnit</li>
               <li>Mockito</li>
               <li>DBUnit</li>
               <li>Jenkins Continuous Integration</li>
            </ul>
            <h5>Web development frameworks (Others)</h5>
            <ul>
               <li>Ruby on Rails (2 years)</li>
               <li>Node.js (Beginner)</li>
            </ul>
            <h5>Linux Skills</h5>
            <ul>
               <li>Bash shell scripting</li>
               <li>Shell commands</li>
            </ul>
            <h5>Database Skills</h5>
            <ul>
               <li>Oracle PL/SQL</li>
               <li>Mysql</li>
               <li>MongoDB (Beginner)</li>
            </ul>
	    <h5>Software configuration management</h5>
	    <ul>
	       <li>Git</li>
	       <li>SVN</li>
	       <li>Clearcase</li>
	       <li>Perforce</li>
	    </ul>
          </p>
          <p>
            <h5>Interests</h5>
            <ul>
               <li>Hadoop</li>
               <li>Predictive Analytics</li>
               <li>Webscale application architecting</li>
            </ul>
          </p>
          <p>
            <h5>Spoken/Written Languages</h5>
            <ul>
               <li>English</li>
               <li>Mandarin</li>
               <li>A smattering of Cantonese</li>
               <li>A dose of Hokkien</li>
            </ul>
          </p>
          <p>
            <h4>Academic Background</h4>
            <span><strong>Nanyang Technological University (Singapore)</strong><br/>
             Bachelor of Computer Engineering (Honours)</span><br />
          </p>
        </div>
      </div>

      <hr />

<%include footer %>
